# Basic Syntaxs

## Backslash

In [8]:
print ("Hello \
Python") 
#Usually pressing an enter would not run it hence to indicate continuation in the next line you also include "\" to continue in next line

Hello Python

## Triple Quotes

In [10]:
print("""  ****<3 :) mkmck 
ldmmkdkmd
dmffm
fknfkf
fknfkfnkf """)
#If you don't use any tripple quotes then, everything would be in a single line. It is used to write Doc string. To Maintain documentation. You can include SMS mags with special msgs as it is..& it will retain its shape/formating

  ****<3 :) mkmck
ldmmkdkmd
dmffm
fknfkf
fknfkfnkf

## String inside a quote

single quote normally prints the statement. But if you want to use it within the the print command. then it will give an error.
Therefore use double quotes within the print. Especially when you want to use single quote in the sentence you print.

In [11]:
print('hello')

hello

In [12]:
print('python's world')

SyntaxError: invalid syntax (<ipython-input-12-3f3d487a621e>, line 1)

In [13]:
print("python's world")

python's world

## Escape Sequence
using "\" - for multiple things

\t - Tab(space)
\n - next line (line seperator) or same as enter
\ - i can use this to place statement within single quote & use apostrophe which wasn't possible previously.

In [15]:
print ("hello\tworld")
print ("hello\nworld")
print ('hello\'s world')

hello	world
hello
world
hello's world

## Formatted Output

Run multiple things, using formated output

%s - String
%f - Float
%d - integer

same is used in SQL qeries,  e.g.  Seect * fom table name (table name is %)

In [20]:
name = "xyz"
marks = 90.748
age = 20
print("The name of the person is", name , "mark is", marks, "age is", age)

The name of the person is xyz mark is 90.748 age is 20

In [21]:
#better way to code above one, with formatted output 
print("The name of the person is %s marks is %f age is %d"%(name,marks,age))

The name of the person is xyz marks is 90.748000 age is 20

In [25]:
#add 10 in between to add spaces. 10 will give 10spces. If you include %3 it ll give 3 spaces
print("The name of the person is %3s marks is %10f age is %10d"%(name,marks,age))

The name of the person is xyz marks is  90.748000 age is         20

In [24]:
#add .2 to make it 2 decimal places. simiarly .1 for 1 decimal places.
print("The name of the person is %10s marks is %.1f age is %10d"%(name,marks,age))

The name of the person is        xyz marks is 90.7 age is         20

In [27]:
#python 3.4 has introduced the f string. use f and {}
print (f"The name of the person is {name} marks is {marks} age is {age}")

The name of the person is xyz marks is 90.748 age is 20

# Python Variables

Variable means linking of data to name 
according to data-type the interpretor reserves the memory space

E.g. when you say a=10. It will store 10 in the memory space of size 1byte (with some address 1234 (e.g.))Every byte has a address. a is a symbolic representation of that address. i.e. the variable refer to a memory location.
a denoting object.(integer, float, tuples, list are all object). a is a variable denoting integer object
Equal to sign is linking. Equal to signis a assignment operator.

if you say b=10. interpretor will point to the data in the memory, where 10 is store

## Rules for Variable

*Cannot use keywords as variables. i.e. Reeserved keyword in Python*
if = 10 not ok. if1 = 10 is ok

*Python variable can contain letters(upper case lowercase), numbers , underscore*
*variable cannot start with number*
A=10 & a=10 are different
10a=20 not ok, a10=20 is ok
_=20 is ok. but dont use. it signfies nothing
_10=20 is also ok.. But again dont use.

**always use meaningful name e.g. latitude, longitude especially in companies.

can also use

x=y=10

** if you want to see the address of the ram.
id() function

In [29]:
a=10
id(a) #gives the ram address

140723887387760

In [30]:
b=10
id(b) #notice both a & b has the same memory space . Both are pointing to the same memory object.

140723887387760

In [31]:
del (a)

In [32]:
id(a)

NameError: name 'a' is not defined

In [34]:
id(b) #now a no more points to the memory, but b still does

140723887387760

## Python Operator


### Arithmetic Operator

"**" - Raised to (power). normally ^ is used in excel.
"*" - Multipication
"/" - Division
"%" - Modulo - Always gives you remainder
"+" - Addition
"-" - Subtraction
"//" - Floor Division. Give the lower value in a float. e.g 3.3 -  is the lower value & 4 is higher value. 5.687890  - 5 is lower value & 6 is higher value

in Python 3 - int/int int divide by gives you a float. in Python 2 that is not the case.

In [35]:
10/2 #int/int

5.0

In [36]:
10-20

-10

In [37]:
10%3

1

In [38]:
10//3

3

### Comparison Operators

Always returns the value in boolean form. i.e True (1) & false (0)

"==" - Equal to
"<" - Less tha
">" - Greater than
">=" - Greater than equal to
"<=" - Less than equal to
"!=" - not equal to

In [41]:
c=10
e=5
f=20
h=10
print(c==h)
print(e==5)
print(c<f)
print(f>=h)
print(c!=h)

True
True
True
True
False

### Assignment operators

=  - a=10, value 10 is assigned to a (normally this only used. ones given below is also used.
+=  - a+=10, 10 is added to the current value of a is is assigned to it 
-= - a-=10, 10 is Subtracted to the current value of a is is assigned to it 
*= - a*=10, 10 is Multiplied to the current value of a is is assigned to it 
/= - a/=10, 10 is Divided to the current value of a is is assigned to it 
**= - a**=10, 10 is raised to the current value of a is is assigned to it

### Bitwise operators

Which works on the bits 010101110111 
| - Bitwise OR operator
& - Bitwise AND operator
~ - Binary one's complement
^ - bitwise XOR operation

Below ones are normally not used much. Mostly for electronic related stuff
<< - Binary Left shift operator
>> - Binary right shift operator


Truth table of OR. 
111 = 1
110 = 1
011 = 1
010 = 1

11110000 - Binary of 240
00000001 - Binary of 1
11110001 - if you convert this back to decimal - it will be 241

for & 
1 & 1 = 1
1 & 0 = 0
0 & 1 = 0
0 & 0 = 1

11110000 - Binary of 240
00000001 - Binary of 1
00000000 - hence 0

can consider 0 as false & 1 as true.

In [44]:
a =240
b = 1
a|b

241

In [43]:
bin(240)

'0b11110000'

In [45]:
a & b

0

### Logical operator

And
T and T = T
T and F = F
F and T = F
F and F = F

OR
T OR T = T
T OR F = F
F OR T = F
F OR F = F

Not
not T = F
not F = T

In [46]:
a > 20 or 10>9

True

In [49]:
10 < 9 and 20>M #M is not defined but since 1s condition is satisfied, it does not check the 2nd condition

False

In [48]:
10 > 9 and 20>M #both the condition are checked here & since M is not defined

NameError: name 'M' is not defined

In [50]:
not 10<9

True

### Membership Operator

in - Checks the membership of a variable in a given sequence
not in - returns the inverted answer of in

Both return either true or false

In [53]:
str = "Python is a programing language"
"a" in str #checks if a is present in the string

True

In [52]:
"z" in str #checks if a is present in the string

False

In [55]:
"z" not in str

True

### Identity operator

is - Check if 2 variable refer to same memory location
not is - returns the inverted answer

both return either true or false

In [57]:
k=10
f=10

k==f #value is same

True

In [58]:
k is f #and they are also pointing to same memory location

True

In [59]:
id(k)

140723887387760

In [60]:
id(f) #prven both points to same memory location

140723887387760

In [61]:
x=1.5
y=1.5

x==y

True

In [62]:
x is y

False

In [64]:
print(id(x)) #both have different memory location
print(id(y))

2355050413008
2355050413032

In [65]:
# for integer case -5 to -256 have same memory. after that different memory location. This is a interveiew question

v=257
z=257

v==z

True

In [66]:
v is z

False

### Operator Precedence
Consider in one expression you get multiple operators. then how to solve them?

10+10/20*4 - what to sove?
1st solve - 10/20*4 (Since both / & * have same precedence, go from left to right)
then - 10+

python 2 & python 3 will give different result (py3 gives 11.879 something & py2 gives 10)
10/20*4 this is fishy

As stated above - int/int in py3 gives float
10/29 in python 3 is 0.34476575 something
10/29 in py2 is 0

** Refer the ppt - The once mentioned in the bottom of the table have more precedence as compared to above. consider bottom up approach when solving
** Operators in the same box have same precendance
**in case of same precedance - consider left to right aproach
**Exponention, is from right to left 2**-1

In [67]:
10>8>9 #also means 10>8 and 8>9

False